input{
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}
.formInput{
    display: flex;
    flex-direction: column;
    width: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.label{
    float: left;
    display: flex;
    margin-bottom: 5px;
    padding-left: 5px;
}
span{
    text-align: left;
    justify-content: left;
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
    margin-left: 8px;
}
