.content{
    justify-content: center;
}
.home-content{
    justify-content: center;
    width: 100%;
    padding-left: 100px;
    padding-top: 4cm;
    display: inline-block;
}
.loginBut{
    width: 200px;
    margin-right: 5px;
}
.registerBut{
    width: 200px;
}
.content1{
    padding-top: 15px;
}

.card-content{
    justify-content: center;
    text-align: center;
    margin-top: 4cm;
    margin-bottom: 1cm;
}

.myCard{
    margin-top: 1cm;
    width: 25em;
    margin-left: 1em;
    text-align: center;
    justify-content: center;
}
